body {
    font-family: Arial Narrow Bold;
    font-size: 15px;
    line-height: 1.5;
    
    padding:0;
    margin: 0;
    background-color: #fafafa;
    overflow: auto;
}
.main-container {
    width: 98%;
    margin: auto;
    overflow: hidden;
}
header {
    margin: 2px;
    padding: 2px;
    padding-top: 10px;
    min-height: 30px;
    background: #42aff8;
}
header ul{
    margin: 2px;
    padding: 2px;
}
header h1{
    text-transform: uppercase;
    color: #ffffff;
    margin: 10px;
    
}
header a {
    color: #ffffff;
    text-transform: uppercase;
    float: right;
    font-size: 18px;
    padding-right: 4%; 
    text-decoration: none;
    font-weight: bold;
}
.second-nav {
    width: 20%;
    height: 490px;
    background: #42aff8;
    margin: 5px;
    padding: 2px;
    float: left;
    text-decoration: none;
}    
.second-nav a {
    margin: 8%;
    
    padding: 10px;
   
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    
    
}
.second-nav li {
    margin: 0px;
    padding: 2px;
    text-decoration: none;
}
.second-nav ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}


.login-body{
    
    background-size: cover;
    height: 100vh;
    
  
   
    margin-top: 0.1%;

}
.login-box{
    clear: both;
   
    
}
.login-box table{
    text-transform: uppercase;
    color: #ffffff;

    margin: 10px;
}

#login input{
    line-height: 1.5;
    margin: 10px;
}


.login-form{
    
    clear: both;
    background: #3aabf7;
   
    margin-left: 20%;
    margin-top: 5%;
    

}