<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iREPORTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="main-container">
        <header>
            <h1>ADMIN DASHBOAD</h1>
            <nav>
                <ul>
                    <li> <a href="../index.html"> Logout</a> </li>
                </ul>
            </nav>
        </header>
            <section class="second-nav">
                <nav>
                    <ul>
                        <li> <a href="admin.html">Redflags </a> </li>
                        <li> <a href="manage_interventions.html">Interventions </a> </li>                        
                    </ul>
                </nav>
            </section>
      
               
            <article class="Big-wrapper">
                <table>
                    <caption>MANAGE REDFLAGS</caption>
                        <thead>
                            <tr>
                                <th>No </th>    
                                <th> Username </th>
                                <th>location</th>
                                <th> Title </th>                     
                                <th> Status </th>
                                <th> Action </th>
                                
                              
                                
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <th>1</th>
                                
                                <td> myfair@gmail.com</td>
                                <td> mbale </td>
                                <td> Money loundering in BOU </td>
                                <td><input type="radio" value="under-investigation "  > under Investigation </td>
                                <td><button id="myBtn">Edit status </button>  </td>
                                
                            </td>
                                
            
                            </tr>
                            <tr>
                                <th>2</th>
                             
                                    <td> muke@gmail.com</td>
                                    <td> mbale </td>
                                    <td> Money loundering in police </td>
                                    <td><input type="radio" value="rejected "  > rejected </td>
                                    <td><button id="myBtn">Edit status </button>  </td>
                                    
                                </td>
                               
                               
                            </tr>
                            <tr>
                                <th>3</th>
                              
                                   <td> mair@gmail.com</td>
                                    <td> mbale </td>
                                    <td> Nssf reserve misuse </td>
                                    <td><input type="radio" value="resolved "  > Resolved </td>
                                    <td><button id="myBtn">Edit status </button>  </td>
                                    
                                </td>
                                
                            </tr>
                            <tr>
                                <th>4</th>
                                                                 
                                    <td> pair@gmail.com</td>
                                    <td> mbale </td>
                                    <td> Opm cash bonaza </td>
                                    <td><input type="radio" value="resolved "  > Resolved </td>
                                    <td><button id="myBtn">Edit status </button>  </td>
                                    
                                </td>
                                
                                
                            </tr>

                    </tbody>
        
               </table>
               
             
</article>
</div>

        

    
</body>
</html>