<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iREPORTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/create_login.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="main-container">
            <header>
                <h1>Welcome to iReporter</h1>
                <nav>
                    <ul>
                        <li> <a href="login.html"> Login</a> </li>
                    </ul>
                </nav>
            </header>
            <div class="login-body">
            <div class="login-box">
             <form class="create-account" method="POST" id="login">
                <div class="create-form">
                    <table>
                        <tr>
                            <td> <label for="first-name" > First Name </label> </td>
                            <td>  <input name ="fname" type="text" placeholder="first name" > </td>
                        </tr>
                        <tr>
                            <td> <label for="last-name" > Last Name </label> </td>
                            <td>  <input name ="Lname" type="text" placeholder="last name"> </td>
                        </tr>
                        <tr>
                            <td> <label for="User-name" > Username </label> </td>
                            <td>  <input name ="Uname" type="text" placeholder="username"> </td>
                        </tr>
                        <tr>
                            <td> <label for="email" > Email </label> </td>
                            <td>  <input  type="email" size="20" placeholder="email" > </td>
                        </tr>
                        <tr>
                            <td> <label for="phone" > Phone Number </label> </td>
                            <td>  <input  type="email" size="20" placeholder="Phone Number" > </td>
                        </tr>
                        <tr>
                            <td> <label for="password" >Password: </label> </td>
                            <td>  <input type="password" placeholder="password"> </td>
                        </tr>
                        <tr>
                            <td> <label for="password" >Confirm Password </label> </td>
                            <td>  <input type="password" placeholder="confirm password" > </td>
                        </tr>
                        <tr>
                            <td id="mess">  <input type="submit" class="create-login" value="Create Account" > </td>

                        </tr>
                        
                    </table> 
                </div>   

            </form>
        </div> 
    </div> 
   
    
</body>
</html>