<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iREPORTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="main-container">
        <header>
            <h1>WELCOME DEAR USER</h1>
            <nav>
                <ul>
                    <li> <a href="login.html"> Logout</a> </li>
                </ul>
            </nav>
        </header>
        <section class="second-nav">
            <nav>
                <ul>
                    <li> <a href="create_redflag.html">New Red Flag</a> </li>
                    <li> <a href="create_intervation.html">New intervation</a> </li>
                    <li> <a href="my_redflag.html">MY red flags</a> </li>
                    <li> <a href="my_intervation.html">My intervation</a> </li>
                    
                </ul>
            </nav>
        </section>
        <article class="create-order">
                <img src="../static/gatuna-1.jpg" height="482px" width="88%">
            </article> 
    </div>
    
</body>
</html>